---
import MainLayout from '../layouts/MainLayout.astro';
import { getCollection, render } from 'astro:content';
import ProjectCollection from '../components/ProjectCollection.tsx';

// load all json files in the data/projects folder except for _schema.json
const projects = await getCollection('projects').then(p => {
  return p
  .map(p => p.data)
  .sort((a, b) => {
    // Descending year
    if (a.year !== b.year) return b.year - a.year

    // Same year: prioritize "thesis" in category
    const aIsThesis = a.category?.includes('Thesis') ? 1 : 0
    const bIsThesis = b.category?.includes('Thesis') ? 1 : 0

    return bIsThesis - aIsThesis // thesis first
  })
});


console.log('This runs in your terminal, not the browser!');
---

<MainLayout title="Home">
  <!-- <div class="relative max-w-[2000px] mx-auto bg-neutral-300 rounded-2xl aspect-video max-h-[60vh] mb-12 grid place-content-center">
    <div>Featured project carousel placeholder</div>

    <div class="absolute bottom-0 left-0 right-0 h-14 flex items-center justify-center gap-2">
      <div class="size-2 bg-neutral-900/20 rounded-full"></div>
      <div class="size-2 bg-neutral-900 rounded-full"></div>
      <div class="size-2 bg-neutral-900/20 rounded-full"></div>
      <div class="size-2 bg-neutral-900/20 rounded-full"></div>
      <div class="size-2 bg-neutral-900/20 rounded-full"></div>
    </div>
  </div> -->
  <ProjectCollection client:load projects={projects} />
</MainLayout>
