---
import TNSLogo from '../assets/tns-logo.svg'
const currentYear = new Date().getFullYear()
---

<footer class="text-gray-900 p-6">
  <div
    class="wrapper w-container m-auto max-w-full border-gray-700 py-16 space-y-16"
  >
    <div class="footer-row space-y-8 lg:space-y-0 lg:grid lg:grid-cols-4">
      <div class="footer-col pr-4">
        <ul>
          <li class="text-gray-900 font-medium">Information</li>
          <li>
            <a
              href="http://www.newschool.edu/parsons/ms-data-visualization/"
              class="text-gray-500 hover:text-gray-900 focus:text-white"
              >MS Data Visualization</a>
          </li>
          <li>
            <a
              href="http://www.newschool.edu/parsons/art-media-technology-school-amt/"
              class="text-gray-500 hover:text-gray-900 focus:text-white"
              >School of Art, Media and Technology</a>
          </li>
          <li>
            <a
              href="https://www.newschool.edu/parsons/"
              class="text-gray-500 hover:text-gray-900 focus:text-white"
              >Parsons School of Design</a>
          </li>
          <li class="text-gray-500">
            2 W. 13th St.
            New York, NY 10011
          </li>
        </ul>
      </div>
      <div class="footer-col pr-4">
        <ul>
          <li class="text-gray-900 font-medium">Social Media</li>
          <li>
            <a
              href="https://github.com/visualizedata"
              class="text-gray-500 hover:text-gray-900 focus:text-white"
              >GitHub</a>
          </li>
          <li>
            <a
              href="https://twitter.com/ParsonsDataViz"
              class="text-gray-500 hover:text-gray-900 focus:text-white"
              >Twitter</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="footer-row space-y-8 lg:space-y-0 lg:grid lg:grid-cols-4">
      <div class="footer-col pr-4">
        &copy; {currentYear} The New School
      </div>
    </div>
  </div>
</footer>
